{% extends 'hotel/base.html' %}
{% block content %}
<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "rzp_test_cJX6tpymh4jBrX",
        amount: "{{order.amount}}",
        currency: "INR",
        name: "{{order.name}}",
        description: "Test Transaction",
        image: "https://mirimstudent25.files.wordpress.com/2013/10/movietalk-despicableme630-jpg_002144.jpg",
        order_id: "{{order.provider_order_id}}",
        callback_url: "{% url 'callback' %}",
        redirect: true,
        prefill: {
            "name": "YLC",
            "email": "spiderman9676190239@gmail.com",
            "contact": "9999999999"
        },
        notes: {
            "address": "Razorpay Corporate Office"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endblock %}